@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Afacad+Flux:wght@100..1000&family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=Darumadrop+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Exa:wght@100..900&family=Lexend+Mega:wght@100..900&family=Lilita+One&family=Limelight&family=Luckiest+Guy&family=Madimi+One&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sigmar&family=Titan+One&family=Ultra&family=VT323&family=Varela+Round&display=swap');
.detail-container{

    width: 400px;
    height: 600px;
    border-radius: 30px;
    text-align: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-left: 450px;
    overflow-y: scroll;

}

.title-de{
    margin-top: 40px;
    font-size: 19px;
    font-family: 'Rubik';
    font-weight: 600;
    margin-bottom: -15px;

}

.btn-warn{

   color: #000;
    height: 200px;
    width: 150px;
    margin-left: 250px;
}

.btn-danger{
    background-color: red;
}

.content-des{
    color: #000;
    font-size: 12px;
    font-family: 'Rubik';
    font-weight: 400;
    padding: 10px 20px 20px 20px;
    text-align: left;
}

.pic-background{


    background-image: linear-gradient(to bottom, #232323, #403f40, #5f5d5e, #817d7e, #a49f9f);
    height: 160px;
    z-index: -1;
    margin-bottom: -110px;
}
.banner-image {
    height: 190px;
    width: 400px;
    object-fit: cover;
}

.content-s{
    color: #000;
    font-size: 12px;
    font-family: 'Rubik';
    font-weight: 400;
    padding: 0 20px 20px 20px; 
    text-align: left;
}

.intro{

    color: #000;
    font-size: 15px;
    font-family: 'Rubik';
    font-weight: 450;
    margin-top: 40px;
    text-align: left;
    margin-left: 30px;
    
}