.category-index-card {
    margin: 10px;

}

.category-index-card-content {
    padding: 5px;
    width: 100%;
    background-color: rgb(206, 205, 205);
    border-radius: 25px;
    font-size: 10px;
    width: 90px;
    height: 30px;
    text-align: center;
    display: flex;

}

.btn{
    background-color: rgb(206, 205, 205);
    width: 7px;
    height: 10px;
    font-size: 17px;
    color: #000;
    margin-left: 1px;
}