.navul {
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100px;
    justify-content: space-evenly;
    border-radius: 30px;
    list-style-type: none;
    font-family: 'Quicksand';
    margin-left: -60px;
    margin-top: -15px;
    background-color: rgb(253, 218, 212);
    margin-bottom: 100px;
}

li {
    margin-top: 7px;
    font-weight: 900;
    font-size: 20px;
    font-weight: 80;
    color: rgb(255, 255, 255);
    font-weight: 330;
}

li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.submit-logout{

    border-radius: 30px;
    background: none;
    border-style: none;
    height: 60px;
    width: 70px;
    margin-top: -10px;
    color: #000000;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Quicksand';
    margin-top: 50px;
}

.links{

    color: #000000;
    margin-top: 30px;
}

.links2 {

    padding: 10px;
    margin-left: 20px;
    color: #000000;
  }
  
  .links2 a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
  }
  