.index-card-container {
  min-width: 100vw;
  min-height: 100vh;             
    /* margin-left: -70px; 
    margin-top: -60px;         */
  background: linear-gradient(to top, rgb(245, 186, 237), rgb(172, 134, 172));
}
  