.index-card-container {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to top, rgb(245, 186, 237), rgb(172, 134, 172));
  box-shadow: inset 0px 30px 50px -20px rgba(0, 0, 0, 0.2);
}
