.review {
    width: 400px;
    height: 600px;
    border-radius: 30px;
    text-align: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-left: 450px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    overflow-y: scroll;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);        
    -webkit-backdrop-filter: blur(4px); 
    /* scrollbar-color: #a97cc3 #e0c8f3; */
}

.scroll {
    /* display: flex;
    flex-direction: column; */
    overflow-y: scroll;
    height: 600px;
    width: 400px;
}

.text-re{
    border-radius: 25px;
    width: 300px;
    position: absolute;
    bottom:5%;
    left:5%;
}

.sbtn1 {
    border-radius: 25px;
    width: 60px;
    background: none;
    border-style: none;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 470px;
    margin-left: 340px;
}

.sbtn2 {
    border-radius: 25px;
    width: 60px;
    background: none;
    border-style: none;
    margin-bottom: 20px;
    cursor: pointer;
    margin-top: 340px;
    margin-left: 260px;
    color: rgb(0, 0, 0);
}


.title-review {
    color: rgb(17, 17, 17);
    margin-top: -560px;
    font-weight: 540;
    font-size: 24px;
    font-family: 'Rubik';
}

.review-item {
    background-color: rgb(245, 243, 243);
    width: 330px;
    height: 70px;  /* Fixed height for the review item */
    border-radius: 15px;
    padding: 10px;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
}

.user-review {
    color: black;
    font-size: 10px;
    font-weight: 200;
    font-family: 'Rubik';
    margin-bottom: 5px;  /* Space between user name and review content */
}

.con {
    color: black;
    font-weight: 340;
    font-size: 14px;
    /* margin-top: -400px; */
    margin: 0;
    font-family: 'Rubik';
    white-space: normal;  
    /* overflow-y: auto;  Allow the content to scroll if it exceeds the container's height */
    max-height: 40px;  /* Set a max height for the content section */
}

.no-comm {
    font-weight: 340;
    font-family: 'Rubik';
    font-size: 13px;
}


.review-image {
    position: fixed;       /* Keeps the image fixed at the top of the screen */
    top: 0;                /* Aligns the image at the top of the screen */
    left: 0;
    width: 100vw;          /* Full width of the viewport */
    height: 130vh;         /* Height is set to 110% of the viewport height */
    object-fit: cover;     /* Ensures the image covers the area */
    z-index: -1;           /* Keeps the image behind the content */

}

.comment{
    margin: 0;
}

