@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Afacad+Flux:wght@100..1000&family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=Darumadrop+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Exa:wght@100..900&family=Lexend+Mega:wght@100..900&family=Lilita+One&family=Limelight&family=Luckiest+Guy&family=Madimi+One&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Sigmar&family=Titan+One&family=Ultra&family=VT323&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Afacad+Flux:wght@100..1000&family=Bebas+Neue&family=DM+Serif+Display:ital@0;1&family=Darumadrop+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Exa:wght@100..900&family=Lexend+Mega:wght@100..900&family=Lilita+One&family=Limelight&family=Luckiest+Guy&family=Madimi+One&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sigmar&family=Titan+One&family=Ultra&family=VT323&family=Varela+Round&display=swap');

.welcome-div{
  min-height: 100vh;               
  min-width: 100vw;
  position: relative;                           
  background: linear-gradient(to top, rgb(255, 255, 255), rgb(207, 175, 207));
  display: flex;
  align-items: center;
  justify-content: start;
}

.read1 {
  position: absolute;
  bottom: 70px;
  right: 10px;
  max-height: 550px;
  max-width: 550px;
}

.read2 {
  position: absolute;
  top: 10px;
  left: -35px;
  max-height: 300px;
  max-width: 300px;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 120px;
  z-index: 10;
  text-align: center;
  margin-top: 100px;
}

.register-btns {
  padding: 20px;
}

.register-btns > button {
  margin: 10px;
}
  
  .head {
    color: rgb(44, 45, 65);
    font-family: 'Rubik';
    font-size: 50px;
    font-weight: 500;


  }

  .btn1 {
    background-color: rgb(87, 55, 97);
    height: 40px;
    width: 150px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 16px;
    border-radius: 30px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  
  .btn1:hover {
    background-color: rgb(120, 101, 126);
  }
  

.btn2 {
  background-color: rgb(255, 255, 255);
  color: rgb(104, 43, 81);
  font-weight: 700;
  font-size: 14px;
  border-radius: 30px;
  height: 40px;
  width: 150px;
  border-style: none;
  font-size: 19px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.btn2:hover {
  background-color: rgb(238, 209, 248);
}

.par{
  font-family: 'Rubik';
  font-weight: 300;
  font-size: 15px;
  margin-top: -5px;
  margin-bottom: 40px;
}