.home-container{

    align-items: center;
}
.form-container-login{

    height: 450px;
    width: 350px;
    text-align: center;
    border-radius: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    align-items: center;
    margin-left: 500px;
    margin-top: 70px;
}

.login{

    padding: 35px 30px 30px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.in{

    height: 30px;
    width: 250px;
    border-radius: 20px;
    border-style: none;  
    margin-right: 90px;
}

.btn-login{

    width: 90px;
    height: 30px;
    background-color: rgb(113, 85, 136);
}